.selections {
    @include flex(row, center, center);

    button {
        width: 500px;
        height: 100vh;
        color: white; 
        border: none;
        text-shadow: 0 3px 7px rgba(0,0,0,0.8);
        background: black;
        transition: 0.3s;
    }
    #winterfell{
        background: url(../assets/winterfell-banner.jpg);
        background-size: cover;
        // background-position: center;
        background-repeat: no-repeat;
    }
    #kings-landing{
        background: url(../assets/kingsLanding-banner.jpg);
        background-size: cover;
    }
    #dragonstone {
        background: url(../assets/dragonstone-banner.jpg);
        background-size: cover;
        // background-position: center;
    }
    #sunspear {
        background: url(../assets/sunspear-banner.jpg);
        background-size: cover;
        // background-position: center;
    }
    #iron-islands {
        background: url(../assets/ironIslands-banner.jpg);
        background-size: cover;
        // background-position: center;
    }    
}

button:hover {
    opacity: 0.7;
    transition: 0.3s;
}

