.selections {
    @include flex(row, center, center);

    button {
        width: 500px;
        height: 100vh;
        color: white; 
        border: none;
        text-shadow: 0 3px 7px rgba(0,0,0,0.8);
        background: black;
        transition: 0.3s;
    }
    .winterfell-container{
        background: url(../assets/winterfell-banner.jpg);
        background-repeat: no-repeat;
    }
    .kings-landing-container{
        background: url(../assets/kingsLanding-banner.jpg);
    }
    .dragonstone-container {
        background: url(../assets/dragonstone-banner.jpg);
    }
    .sunspear-container {
        background: url(../assets/sunspear-banner.jpg);
    }
    .iron-islands-container {
        background: url(../assets/ironIslands-banner.jpg);
    }  
    .castle-black-container {
        background: url(../assets/castleBlack.png);
    }
    .button-container {
        background-size: cover;
    }
}

button:hover {
    opacity: 0.7;
    transition: 0.3s;
}

/* Landscape phones and down */
@media (max-width: 480px) {
    .selections {
        flex-direction: column;
        button {
            width: 100%;
        }
        .button-container {
            background-position: 50% 66%;
        }
    }

}

