.location-container {
    display: none;
    background: url(../assets/paperbg.jpg);
    background-size: cover; 
    }

.displayed-location-info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 100vh;
    width: 90%;
    margin: 0 auto;
    a {
        margin: 0 auto;
        text-decoration: none;
        color: firebrick;
    }
}

.location-info {
    margin-top: 45px;
    width: 45%;
}

#map {
    height: 500px;
    width: 45%;
    margin-top: 50px;
 }