@import "./setup.scss";
@import "./variables.scss";
@import "./mixins.scss";
@import "./button.scss";
@import "./maps.scss";

body {
    color: $primary;
    margin: 0;
    font-family: 'Cormorant Unicase', serif;
}
.title{
    background: $background;
    height: 80px;
    position: fixed;
    box-shadow: 0 5px 10px rgba(0,0,0,0.8);
    width: 100%;
    z-index: 100;
}
h1{
    padding: 20px 0; 
    margin: 0;
    text-align: center;
    text-transform: capitalize;
    text-shadow: 0 3px 6px rgba(0,0,0,0.8);
    span{
        color: $accent;
        text-transform: uppercase;
    }
}


